rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /connections/{connectionId} {
      allow read, update, delete: if request.auth != null && resource.data.clientId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.clientId == request.auth.uid;
    }
    match /contacts/{contactId} {
      allow read, update, delete: if request.auth != null && resource.data.clientId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.clientId == request.auth.uid;
    }
    match /messages/{messageId} {
      allow read, update, delete: if request.auth != null && resource.data.clientId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.clientId == request.auth.uid;
    }
  }
}
